@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Prompt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-layout {
  background: #383838;
  background: var(--color-zinc-800);
  height: 100vh;
}

.page-layout main {
  width: 100%;
  padding: 30px;
}

button {
  cursor: pointer;
}

option,
textarea,
input {
  outline-style: none;
  background: var(--color-zinc-700);
}

option,
select {
  outline-style: none;
  background: var(--color-zinc-800);
}

.main-section {
  display: flex;
  flex: 1;
}

.marked-message {
  /* background: var(--color-zinc-800); */
  /* color: var(--color-white); */
  padding: 20px;
  /* border-radius: 20px; */
  max-height: 70vh;
  overflow: auto;
  /* overflow-x: hidden; */
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin; /* "auto", "thin", or "none" */
  scrollbar-color: var(--color-zinc-700) transparent;
}

.marked-message p > strong {
  font-size: 1.1rem;
}

.marked-message h3 {
  font-size: 1.1rem;
}

.marked-message ol li {
  margin-bottom: 25px;
}

.marked-message strong {
  font-weight: 500;
  margin-bottom: 25px;
}

.marked-message div > p {
  margin-bottom: 25px;
}

.marked-message code {
  font-family: "Courier New", Courier, monospace;
  position: relative;
}
.marked-message .hljs {
  background-color: transparent;
}

.marked-message pre code:not(.hljs) {
  background-color: var(--color-zinc-800);
  filter: brightness(0.9);
  display: flex;
  margin: 20px 0px;
  padding: 20px;
  border-radius: 20px;
}

.marked-message code .code-lang {
  text-transform: capitalize;
  display: flex;
  position: absolute;
  right: 30px;
}

.marked-message code .code-lang a {
  margin-left: 10px;
  overflow: hidden;
}

.marked-message code {
  padding: 0 5px;
}

.marked-message hr {
  border-top-width: 1px;
  border-top-color: var(--color-zinc-500);
  margin: 35px 5px;
}
.marked-message h3 {
  margin-bottom: 20px;
}
.marked-message table thead th {
  border: 1px solid;
  padding: 10px;
}
.marked-message table tbody td {
  border: 1px solid;
  padding: 10px;
}

.marked-message .user {
  justify-content: flex-end;
  display: flex;
  flex-shrink: 1;
}
.marked-message .user > div {
  color: var(--color-cyan-200);
  background: var(--color-cyan-900);
  align-self: flex-end;
  max-width: 60%;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
.marked-message .user > div > p {
  margin: 10px;
}

.marked-message .bot {
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  width: 80%;
}
